### Billable Hours gitignores ###
billablehours-api/HELP.md
billablehours-api/.gradle
billablehours-api/build/
billablehours-api/!gradle/wrapper/gradle-wrapper.jar
billablehours-api/!**/src/main/**
billablehours-api/!**/src/test/**

### STS ###
billablehours-api/.apt_generated
billablehours-api/.classpath
billablehours-api/.factorypath
billablehours-api/.project
billablehours-api/.settings
billablehours-api/.springBeans
billablehours-api/.sts4-cache

### IntelliJ IDEA ###
billablehours-api/.idea
billablehours-api/*.iws
billablehours-api/*.iml
billablehours-api/*.ipr
billablehours-api/out/

### NetBeans ###
billablehours-api/nbproject/private/
billablehours-api/nbbuild/
billablehours-api/dist/
billablehours-api/nbdist/
billablehours-api/.nb-gradle/

### VS Code ###
billablehours-api/.vscode/



### Rewarder gitignores ###

# dependencies
billablehours-frontend/node_modules
billablehours-frontend/.pnp
billablehours-frontend/.pnp.js

# testing
billablehours-frontend/coverage

# production
billablehours-frontend/build

# misc
billablehours-frontend/.DS_Store
billablehours-frontend/.env
billablehours-frontend/.env.local
billablehours-frontend/.env.development.local
billablehours-frontend/.env.test.local
billablehours-frontend/.env.production.local

billablehours-frontend/npm-debug.log*
billablehours-frontend/yarn-debug.log*
billablehours-frontend/yarn-error.log*
