### Billable Hours gitignores ###
billablehour-api/HELP.md
billablehour-api/.gradle
billablehour-api/build/
billablehour-api/!gradle/wrapper/gradle-wrapper.jar
billablehour-api/!**/src/main/**
billablehour-api/!**/src/test/**

### STS ###
billablehour-api/.apt_generated
billablehour-api/.classpath
billablehour-api/.factorypath
billablehour-api/.project
billablehour-api/.settings
billablehour-api/.springBeans
billablehour-api/.sts4-cache

### IntelliJ IDEA ###
billablehour-api/.idea
billablehour-api/*.iws
billablehour-api/*.iml
billablehour-api/*.ipr
billablehour-api/out/

### NetBeans ###
billablehour-api/nbproject/private/
billablehour-api/nbbuild/
billablehour-api/dist/
billablehour-api/nbdist/
billablehour-api/.nb-gradle/

### VS Code ###
billablehour-api/.vscode/



### Rewarder gitignores ###

# dependencies
billablehour-frontend/node_modules
billablehour-frontend/.pnp
billablehour-frontend/.pnp.js

# testing
billablehour-frontend/coverage

# production
billablehour-frontend/build

# misc
billablehour-frontend/.DS_Store
billablehour-frontend/.env
billablehour-frontend/.env.local
billablehour-frontend/.env.development.local
billablehour-frontend/.env.test.local
billablehour-frontend/.env.production.local

billablehour-frontend/npm-debug.log*
billablehour-frontend/yarn-debug.log*
billablehour-frontend/yarn-error.log*
